.unity-foldout{
	background-color: #292929;
	margin-bottom:4px;
}

#unity-checkmark{
	margin: 5px 5px 5px 20px;
}

.unity-foldout #unity-content{
	background-color: #292929;
	margin: 0;
	padding: 0 5px 5px 5px;
}

#BehaviourData_ContextMenu
{
	margin: 3px 3px 0px 3px;
	font-size: 12px;
	border-color: black;
}

#BehaviourData_ContextMenu:hover{
	color: #D1D4FF;
}



Label{
	-unity-font-style: bold;
}
